<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='/static/css/base.css'>
        <link rel='stylesheet' type='text/css' href='/static/css/content.css'>
        {% block css %}
        {% endblock css %}
        <meta content='width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no' name='viewport'>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div id='top_menu'>
            <ul>
                {% block menu %}
                    {% if is_auth %}
                        <li><a href="{{ 'plants' | url_for }}" title='Plants'>Plants</a></li>
                        <li><a href="{{ 'events' | url_for }}" title='Events'>Events</a></li>
                        <li><a href="{{ 'user' | url_for(name=current_user.username) }}" title='My Profile'>My Profile</a></li>
                        <li style="float: right;">
                            <form action="{{ 'logout' | url_for }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
                                <input class="menu-form" type="submit" value="Logout">
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{{ 'signup' | url_for }}" title='Signup'>Signup</a></li>
                        <li><a href="{{ 'signin' | url_for }}" title='Signin'>Signin</a></li>
                    {% endif %}
                {% endblock menu %}
            </ul>
        </div>

        <div id='content'>
        {% block content %}
        {% endblock content %}
        </div>

        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
