{% extends "base.html" %}

{% block title %}
Sign-up
{% endblock title %}

{% block content %}
<form class='form login' method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <div>
        <b>Username or E-mail</b>
        <input type='text' name='login'>
    </div>
    <div>
    <div>
        <b>Password</b>
        <input type='password' name='password'>
    </div>
    <div>
        <input class='submit' type='submit' value='Sign-in'>
    </div>
</form>
{% endblock content %}
